body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2d3c49;
}

h1 {
  font-weight: 300;
}

hr {
  border-top: 4px solid #7d97ad;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}

.center-image {
  margin: 0 auto;
}

.logo {
  margin-top: 20px;
  width: 70px;
}

.header-title {
  text-transform: uppercase;
  text-align: right;
}

@media (max-width: 400px) {
  .logo-container {
    text-align: center;
  }

  .header-title {
    text-align: center;
  }
}
